<div class="col-xs-10 col-xs-offset-1">
	<h2>About the Project</h2>
<br />
<p>The project will collect data about species distribution and road crossing points for vulnerable wildlife species in California. The public is encouraged to submit information about wildlife sightings (including injured or deceased animals) along roadways. The gathered information will provide public agencies with more information about the potential impact of constructing wildlife corridors.
</p>
<br />
<h2>How Wildlife Corridors Can Help</h2>
<br />
<p>
A wildlife corridor, habitat corridor, or green corridor[1] is an area of habitat connecting wildlife populations separated by human activities or structures (such as roads, development, or logging). This allows an exchange of individuals between populations, which may help prevent the negative effects of inbreeding and reduced genetic diversity (via genetic drift) that often occur within isolated populations. Corridors may also help facilitate the re-establishment of populations that have been reduced or eliminated due to random events (such as fires or disease).
</p>
<p>
This may potentially moderate some of the worst effects of habitat fragmentation,[2] wherein urbanization can split up habitat areas, causing animals to lose both their natural habitat and the ability to move between regions to use all of the resources they need to survive. Habitat fragmentation due to human development is an ever-increasing threat to biodiversity, and habitat corridors are a possible mitigation. 
</p>
Source: Wildlife Corridor, Wikipedia
<br />
</div>