
<% @sightings.each do |sighting| %>
 <div class="booyah-box col-xs-10 col-xs-offset-1">
 	<h1><%= sighting.species %></h1><br />
 	<i><%= sighting.address %></i><br /><br />
 	<p><%= sighting.description %></p><br />
 </div>

 <hr />
 <% end %>






